body {
  margin: 0;
}
.wrapper {
  margin: auto;
  padding-left: 196px;
  padding-right: 200px;
  /*width: 78%;*/
}
.logo, .menu {
  display: inline-block;
}
.logo {
  width:190px;
  height: 35px;
  background: url('img/logo.svg');
}
.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 126px;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  position: relative;
  margin-right: 28px;
  font: 500 18px/21px robotomedium, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item:first-child{
  margin-right: 25px;
}
.main {
  padding: 80px 63% 252px 0;
  background: top right no-repeat url('img/mainImg.svg');
  background-size: 770px;
}
.main__title {
  font: 700 66px/87px pt_serifbold, arial, helvetica, sans-serif;
  margin:0 0 35px 0;
}
.main__title-text_highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 15%, #ECF3FF 15%);
}
.main__subtitle {
  margin: 0 0 41px 0;
  font: 22px/25px roboto, arial, helvetica, sans-serif;
  padding-right: 100px;
}
.main__button {
  display: inline-block;
  font: 18px/21px roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 18px 36px 19px 21px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}
.main__button:hover {
  opacity: .5;
}
.menu__item::after {
  position: absolute;
  display: block;
  content: '';
  margin-top: 1px;
  padding-right: 2px;
  left: 0;
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}
.menu__item:hover {
  opacity: 0.5;
}
.menu__item:hover::after, .menu__item_active::after {
  opacity: 1;
  width: 100%;
}
.dots
{
  position: absolute;
  margin-left: 944px;
  width:32px;
  height: 8px;
  background: no-repeat url('img/3dots.svg')
}
